.hero {
  position: relative;
  width: 100%;
  padding-bottom: 30%;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 50%;
  display: block;
  max-width: 100%;
  height: auto;

  @media screen and (max-width: $screen-md-max){
    padding-bottom: 30%;
    background-size: 40%;
  }
  @media screen and (max-width: $screen-xs-max){
    padding-bottom: 50%;
    background-size: 65%;
  }

  h1 {
    @extend %column;
    @extend %col-xs-8;
    @extend %img-responsive;
    margin: 0;
    padding-top: 20%;

    @media screen and (max-width: $screen-md-max){
      padding-top: 15%;
    }
    @media screen and (max-width: $screen-xs-max){
      padding-top: 10%;
    }
  }
  @media screen and (max-width: 400px){
    padding-bottom: 50%;
  }
}
